.modal-wrapper
    display: none
    position: fixed
    width: 100vw
    height: 100vh
    top: 0
    left: 0

    .modal
        position: absolute
        top: 20vh
        left: 10vw
        width: 80vw
        height: 60vh
        padding: 20px

    &.open
        display: block
