$primary: #1a1717
$secondary: #ffffff
$thirdly: #eee
$middle: #888
$green: #4b4
$secondary-light: #999
$yellow: #EAB651
$card: #FFF1DE
$border: #ccc
$back: #ddd

    
@mixin vertical
    display: flex
    flex-direction: column

@mixin thinScroll
    scrollbar-width: thin
    -webkit-overflow-scrolling: touch
    -moz-overflow-scrolling: touch
    -ms-overflow-scrolling: touch
    -o-overflow-scrolling: touch
    overflow-scrolling: touch

@mixin flex-right
    display: flex
    justify-content: end

